<a href="https://colab.research.google.com/github/zakonreal/da_homework_student2/blob/main/demo_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [28]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

OperationalError: ignored

In [29]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[0][0]

0

In [33]:
# task1  (lesson7)
# sqlite3: Перенести таблицы pc, printer, product & laptop в локальную sqlite3 (те сделать снэпшот этих таблиц из postgreSQL в sqlite3 через python).

import psycopg2
import pandas as pd

DB_HOST = '178.170.196.15'
DB_USER = 'student2'
DB_USER_PASSWORD = 'student2_password'
DB_NAME = 'sql_ex_for_student2'

conn_psql = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [ ]:
request = """ 
select *
from product 
""" 
df = pd.read_sql_query(request, conn_psql)

df.to_sql('product', conn)

In [ ]:
request = """ 
select *
from pc 
""" 
df = pd.read_sql_query(request, conn_psql)

df.to_sql('pc', conn)

In [ ]:
request = """ 
select *
from laptop 
""" 
df = pd.read_sql_query(request, conn_psql)

df.to_sql('laptop', conn)

In [ ]:
request = """ 
select *
from printer
""" 
df = pd.read_sql_query(request, conn_psql)

df.to_sql('printer', conn)

In [31]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

      name
0      EMP
1  product
2       pc
3   laptop
4  printer

In [32]:
pd.read_sql_query("SELECT * from product", conn)

    index maker model     type
0       0     B  1121       PC
1       1     A  1232       PC
2       2     A  1233       PC
3       3     E  1260       PC
4       4     A  1276  Printer
5       5     D  1288  Printer
6       6     A  1298   Laptop
7       7     C  1321   Laptop
8       8     A  1401  Printer
9       9     A  1408  Printer
10     10     D  1433  Printer
11     11     E  1434  Printer
12     12     B  1750   Laptop
13     13     A  1752   Laptop
14     14     E  2113       PC
15     15     E  2112       PC

In [38]:
#--task2  (lesson7) БД sqlite3
#-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса:
#-- посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)

%%time
pd.read_sql_query(""" 
select count(*) from 
(
select model, price 
   from pc 
union all  
    select model, price 
    from printer  
union all  
    select model, price 
    from laptop   
) t1
where price > 500
""", conn)

CPU times: user 3.39 ms, sys: 0 ns, total: 3.39 ms
Wall time: 4.99 ms

   count(*)
0        14

In [39]:
#--task2  (lesson7) БД psycopg2
#-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса:
#-- посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)

%%time
pd.read_sql_query(""" 
select count(*) from 
(
select model, price 
   from pc 
union all  
    select model, price 
    from printer  
union all  
    select model, price 
    from laptop   
) t1
where price > 500
""", conn_psql)

CPU times: user 2.77 ms, sys: 0 ns, total: 2.77 ms
Wall time: 127 ms

   count
0     14

In [ ]:
import sys
!{sys.executable} -m pip install sqlitedict

In [40]:
!pip3 install sqlitedict
import sqlitedict
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlitedict
  Downloading sqlitedict-2.0.0.tar.gz (46 kB)
     |████████████████████████████████| 46 kB 2.1 MB/s
Building wheels for collected packages: sqlitedict
  Building wheel for sqlitedict (setup.py) ... done
  Created wheel for sqlitedict: filename=sqlitedict-2.0.0-py3-none-any.whl size=15736 sha256=c1f0d913ce129dc6ebb81cc7caad309256dd2c2b5f63120eda548440465ce40d
  Stored in directory: /root/.cache/pip/wheels/96/dd/2e/0ed4a25cb73fc30c7ea8d10b50acb7226175736067e40a7ea3
Successfully built sqlitedict
Installing collected packages: sqlitedict
Successfully installed sqlitedict-2.0.0

In [41]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [42]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [43]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

value1
['123', 123]
Empty DataFrame
Columns: []
Index: []

In [48]:
#--task4 (lesson7)
#-- sqlitedict: Внесите по ключу "lesson7_task2" текст задачи 2 из текущей классной работы
######
#--task2  (lesson7)
#-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)
######

mydict['lesson7_task2'] = """
--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)
"""
mydict.commit()

In [49]:
print(mydict['lesson7_task2'])

--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)

In [50]:
mydict['lesson7_task1'] = """
--task1  (lesson7)
-- sqlite3: Перенести таблицы pc, printer, product & laptop в локальную sqlite3 (те сделать снэпшот этих таблиц из postgreSQL в sqlite3 через python).
"""
mydict.commit()

In [51]:
print(mydict['lesson7_task1'])

--task1  (lesson7)
-- sqlite3: Перенести таблицы pc, printer, product & laptop в локальную sqlite3 (те сделать снэпшот этих таблиц из postgreSQL в sqlite3 через python).

In [52]:
import sys
!{sys.executable} -m pip install tinydb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tinydb
  Downloading tinydb-4.7.0-py3-none-any.whl (24 kB)
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from tinydb) (4.2.0)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.0

In [53]:
from tinydb import TinyDB, Query

In [54]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

2

In [55]:
User = Query()
db.search(User.char == 'a')

[{'char': 'a', 'int': 1}]

In [56]:
db.insert({'lesson': 7, 'task': 2, 'text': """
--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)
"""})

3

In [61]:
User = Query()
db.search(User.task == 2)

[{'lesson': 7,
  'task': 2,
  'text': '\n--task2  (lesson7)\n-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)\n'}]